name: CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  backend-ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install backend dependencies
        working-directory: backend
        run: npm install

      - name: Run backend health check
        working-directory: backend
        run: node src/index.js &
